# 1) Carga de datos

In [1]:
#Importamos la libreria pandas para poder manejar json y csv
import pandas as pd

In [2]:
#Establecemos la ruta del archivo 
customer_file_path = '../data/customers.json'

#Leemos el json
json_anidado = pd.read_json(customer_file_path, lines=True)

In [3]:
json_anidado.head(4)

,fraudulent,customer,orders,paymentMethods,transactions
0,False,"{'customerEmail': 'josephhoward@yahoo.com', 'c...","[{'orderId': 'vjbdvd', 'orderAmount': 18, 'ord...","[{'paymentMethodId': 'wt07xm68b', 'paymentMeth...","[{'transactionId': 'a9lcj51r', 'orderId': 'vjb..."
1,True,"{'customerEmail': 'evansjeffery@yahoo.com', 'c...","[{'orderId': 'nlghpa', 'orderAmount': 45, 'ord...","[{'paymentMethodId': 'y3xp697jx', 'paymentMeth...","[{'transactionId': '5mi94sfw', 'orderId': 'nlg..."
2,False,"{'customerEmail': 'andersonwilliam@yahoo.com',...","[{'orderId': 'yk34y2', 'orderAmount': 33, 'ord...","[{'paymentMethodId': '8pneoi03z', 'paymentMeth...","[{'transactionId': 'q3lyvbza', 'orderId': 'yk3..."
3,False,"{'customerEmail': 'rubenjuarez@yahoo.com', 'cu...","[{'orderId': 'fbz9ep', 'orderAmount': 34, 'ord...","[{'paymentMethodId': 'pdxjdwui4', 'paymentMeth...","[{'transactionId': 'vx4cjc27', 'orderId': 'fbz..."

## 1.1) Desanidando ando (desanidar columnas)

### 1.1.A) Desanidando un diccionario dentro de un json

In [4]:
#La columna/variable 'customers' es un diccionario. para desanidarlo y poder obtener
#el formato de un dataframe, usamos 'json_normalize(dataframe[columna])'
columna_customers = pd.json_normalize(json_anidado['customer'])
columna_customers.head(3)

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress
0,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896"
1,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...
2,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250"

### 1.1.B) Desanidando una lista dentro de un json

#### 1.1.B.1) Desanidando la variable ORDERS

In [5]:
json_anidado["orders"]

0      [{'orderId': 'vjbdvd', 'orderAmount': 18, 'ord...
1      [{'orderId': 'nlghpa', 'orderAmount': 45, 'ord...
2      [{'orderId': 'yk34y2', 'orderAmount': 33, 'ord...
3      [{'orderId': 'fbz9ep', 'orderAmount': 34, 'ord...
4      [{'orderId': '56h7iw', 'orderAmount': 71, 'ord...
                             ...
163    [{'orderId': '6086rd', 'orderAmount': 31, 'ord...
164    [{'orderId': '57yhdo', 'orderAmount': 30, 'ord...
165    [{'orderId': 'vcyuse', 'orderAmount': 35, 'ord...
166    [{'orderId': '9s9ne9', 'orderAmount': 49, 'ord...
167    [{'orderId': 'ow1cih', 'orderAmount': 23, 'ord...
Name: orders, Length: 168, dtype: object

In [6]:
orders_anidada = pd.DataFrame([md for md in json_anidado['orders']])

orders_anidada.head(1)

,0,1,2,3,4,5,6,7
0,"{'orderId': 'vjbdvd', 'orderAmount': 18, 'orde...","{'orderId': 'yp6x27', 'orderAmount': 26, 'orde...",None,None,None,None,None,None

In [7]:
orders_list = []

for index, row in orders_anidada.iterrows():
    for order in row:
        if order != None:
            orders_list.append(order)
            
columna_orders = pd.DataFrame(orders_list)

columna_orders.head(3)

,orderId,orderAmount,orderState,orderShippingAddress
0,vjbdvd,18,pending,"5493 Jones Islands\nBrownside, CA 51896"
1,yp6x27,26,fulfilled,"5493 Jones Islands\nBrownside, CA 51896"
2,nlghpa,45,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497"

#### 1.1.B.2) Desanidando la variable TRANSACTIONS

In [8]:
transactions_anidada = pd.DataFrame([md for md in json_anidado['transactions']])

transactions_anidada.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,"{'transactionId': 'a9lcj51r', 'orderId': 'vjbd...","{'transactionId': 'y4wcv03i', 'orderId': 'yp6x...",None,None,None,None,None,None,None,None,None,None,None,None,None

In [9]:
transactions_list = []

for index, row in transactions_anidada.iterrows():
    for transaction in row:
        if transaction != None:
            transactions_list.append(transaction)
            
columna_transactions = pd.DataFrame(transactions_list)

columna_transactions.head(3)

  transactionId orderId paymentMethodId  transactionAmount  transactionFailed
0      a9lcj51r  vjbdvd       wt07xm68b                 18              False
1      y4wcv03i  yp6x27       wt07xm68b                 26              False
2      5mi94sfw  nlghpa       41ug157xz                 45              False

#### 1.1.B.3) Desanidando la variable PAYMENT

In [10]:
payment_anidada = pd.DataFrame([md for md in json_anidado['paymentMethods']])

payment_anidada.head(1)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,"{'paymentMethodId': 'wt07xm68b', 'paymentMetho...",None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [11]:
paymentMethods_list = []

for index, row in payment_anidada.iterrows():
    for payment in row:
        if payment != None:
            paymentMethods_list.append(payment)
            
columna_paymentMethods = pd.DataFrame(paymentMethods_list)

columna_paymentMethods.head(3)

,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer
0,wt07xm68b,True,card,JCB 16 digit,Citizens First Banks
1,y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks
2,6krszxc05,False,card,VISA 16 digit,Vertex Bancorp

Para el caso de la variable 'Fraudulent' no necesitamos desanidar ya que solo contiene valors booleanos. La convertimos directamente a un dataframe.

In [12]:
columna_fraudulent = pd.DataFrame(json_anidado['fraudulent'])

columna_fraudulent.head(3)

   fraudulent
0       False
1        True
2       False

## 1.2) Mergeando ando (Uniendo las columnas en un dataframe)

In [13]:
data = pd.concat([columna_customers,
                  columna_orders,
                  columna_paymentMethods,
                  columna_transactions,
                  columna_fraudulent], axis=1)

data.head(3)

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,orderId,paymentMethodId,transactionAmount,transactionFailed,fraudulent
0,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,vjbdvd,wt07xm68b,18,False,False
1,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,yp6x27,wt07xm68b,26,False,True
2,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,nlghpa,41ug157xz,45,False,False

In [14]:
#!pip install funpymodeling

In [15]:
from funpymodeling import status

In [16]:
status(data)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,customerEmail,455,0.730337,0,0.000000,161,object
1,customerPhone,455,0.730337,0,0.000000,168,object
2,customerDevice,455,0.730337,0,0.000000,168,object
3,customerIPAddress,455,0.730337,0,0.000000,165,object
4,customerBillingAddress,455,0.730337,0,0.000000,166,object
5,orderId,145,0.232745,0,0.000000,478,object
6,orderAmount,145,0.232745,0,0.000000,67,float64
7,orderState,145,0.232745,0,0.000000,3,object
8,orderShippingAddress,145,0.232745,0,0.000000,274,object
9,paymentMethodId,281,0.451043,0,0.000000,342,object
10,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
11,paymentMethodType,281,0.451043,0,0.000000,4,object
12,paymentMethodProvider,281,0.451043,0,0.000000,10,object
13,paymentMethodIssuer,281,0.451043,0,0.000000,20,object
14,transactionId,0,0.000000,0,0.000000,623,object
15,orderId,0,0.000000,0,0.000000,478,object
16,paymentMethodId,0,0.000000,0,0.000000,237,object
17,transactionAmount,0,0.000000,0,0.000000,67,int64
18,transactionFailed,0,0.000000,455,0.730337,2,bool
19,fraudulent,455,0.730337,107,0.171750,2,object

In [17]:
data.head(3)

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,orderId,paymentMethodId,transactionAmount,transactionFailed,fraudulent
0,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,vjbdvd,wt07xm68b,18,False,False
1,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,yp6x27,wt07xm68b,26,False,True
2,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,nlghpa,41ug157xz,45,False,False

############___ SALVAGUARDAMOS EL DATAFRAME PARA EVITAR ERRORES ___############

In [18]:
data_copy = data.copy()

# 2) Transformación de columnas

## 2.1) Coluumnas duplicadas (contienen el mismo nombre y contenido)

Crearemos un diccionario (dict) que tendra un indice para cada elemento de la lista que devuelve el metodo duplicated().

* **.duplicated()**: Devuelve un array booleano con TRUE si se repite o FALSE si no se repite.
* **.columns**: aplica el metodo duplicated a las columnas del dataframe
* **enumetarte()**: Crea un indice para cada elemento de la lista devuelta por .duplicated()
* **dict()**: creamos un diccionario cuyo KEY es el indice generado por 'enumerate' y el VALUE es cada eleemento de la lista generada por 'duplicated'

In [19]:
pandaseries = dict(enumerate(data_copy.columns.duplicated()))
pandaseries

{0: False,
 1: False,
 2: False,
 3: False,
 4: False,
 5: False,
 6: False,
 7: False,
 8: False,
 9: False,
 10: False,
 11: False,
 12: False,
 13: False,
 14: False,
 15: True,
 16: True,
 17: False,
 18: False,
 19: False}

Obtenemos los nombres de las columnas duplicadas *(indicadas con True)* a traves de sus indices:

In [20]:
data_copy.columns[[15,16]]

Index(['orderId', 'paymentMethodId'], dtype='object')

Verificamos el contenido de las variables

In [21]:
data_copy[["orderId","paymentMethodId"]]

    orderId orderId paymentMethodId paymentMethodId
0    vjbdvd  vjbdvd       wt07xm68b       wt07xm68b
1    yp6x27  yp6x27       y3xp697jx       wt07xm68b
2    nlghpa  nlghpa       6krszxc05       41ug157xz
3    uw0eeb  uw0eeb       5z1szj2he       41ug157xz
4    bn44oh  bn44oh       m52tx8e1s       y3xp697jx
..      ...     ...             ...             ...
618     NaN  1bubxa             NaN       7yen1m1q8
619     NaN  1bubxa             NaN       3zmkegkb8
620     NaN  1bubxa             NaN       7yen1m1q8
621     NaN  p0gdbf             NaN       3zmkegkb8
622     NaN  5lmvrj             NaN       f0xnu5om9

[623 rows x 4 columns]

**NOTA:** Nótese el el caracter ' ~ ' (negación) en el segundo argumento de 'loc'. Su función es invertir la lista devuelta por el metodo duplicated, de esta forma indicamos que solo queremos quedarnos con las columnas TRUE (por ende se eliminan las FALSE, que son las duplicadas.)

In [22]:
data_copy = data_copy.loc[:,~data.columns.duplicated()].copy()

In [23]:
status(data_copy)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,customerEmail,455,0.730337,0,0.000000,161,object
1,customerPhone,455,0.730337,0,0.000000,168,object
2,customerDevice,455,0.730337,0,0.000000,168,object
3,customerIPAddress,455,0.730337,0,0.000000,165,object
4,customerBillingAddress,455,0.730337,0,0.000000,166,object
5,orderId,145,0.232745,0,0.000000,478,object
6,orderAmount,145,0.232745,0,0.000000,67,float64
7,orderState,145,0.232745,0,0.000000,3,object
8,orderShippingAddress,145,0.232745,0,0.000000,274,object
9,paymentMethodId,281,0.451043,0,0.000000,342,object
10,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
11,paymentMethodType,281,0.451043,0,0.000000,4,object
12,paymentMethodProvider,281,0.451043,0,0.000000,10,object
13,paymentMethodIssuer,281,0.451043,0,0.000000,20,object
14,transactionId,0,0.000000,0,0.000000,623,object
15,transactionAmount,0,0.000000,0,0.000000,67,int64
16,transactionFailed,0,0.000000,455,0.730337,2,bool
17,fraudulent,455,0.730337,107,0.171750,2,object

## 2.2) Desglose de la columna customerEmail

Tenemos columnas que podrian contener información agrupada como es el caso de 'customerEmail' donde detemos 'direccion@proveedor.dominio'. Proveedor y dominio son datos de interes que pueden revelarnos patrones en los datos, para ello debemos descomponer la información y acomodarlas en columnas que sean mas descritpivas

In [24]:
data_copy["customerEmail"]

0         josephhoward@yahoo.com
1         evansjeffery@yahoo.com
2      andersonwilliam@yahoo.com
3          rubenjuarez@yahoo.com
4               uchen@malone.com
                 ...
618                          NaN
619                          NaN
620                          NaN
621                          NaN
622                          NaN
Name: customerEmail, Length: 623, dtype: object

In [25]:
dominios_email= []   # '.com', '.cl', '.info', ...
proveedor_email= []  # proveedor: yahoo, hotmail, gmail...
proveedores_populares = ['yahoo', 'gmail', 'hotmail']

for email in data_copy['customerEmail']:
    try:
        """
        Si email = "edvai@yahoo.com"

        aux = yahoo.com
        mail = yahoo
        domain = com
        """
        # Split devuelve una lista
        aux = email.split('@')[1] #Separamos el email en dos, nos quedamos con el segundo elemento que es el correo.com
        dominio = aux.split('.')[1] #Separamos el dominio en dos, y nos quedamos con el elemento despues del punto
        proveedor = aux.split('.')[0] #Guardamos el elemento antes del punto
        
        # Verificamos que el mail se encuentre en la lista de proveedores regulares
        if proveedor in proveedores_populares:
            proveedor_email.append(proveedor)
        else:
            proveedor_email.append('other')
        dominios_email.append(dominio)
    # La excepcion se levanta cuando el formato de mail no es convencional o hay caracteres desconocidos.    
    except:
        dominios_email.append('weird')
        proveedor_email.append('weird')
        # print(email)

Agregamos las dos listas al dataframe

In [26]:
data_copy['emailProvider'] = proveedor_email
data_copy['emailDomain'] = dominios_email

Como ya fue tratada la variable customerEmail, ya no la necesitamos

In [27]:
data_copy = data_copy.drop(['customerEmail'], axis=1)

In [28]:
data_copy.head()

,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailProvider,emailDomain
0,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,yahoo,com
1,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,yahoo,com
2,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,yahoo,com
3,670.664.8168x94985,slovx60t0i558may4ks0,95de:8565:5a66:792c:26e0:6cfb:7d87:11af,"7769 Elizabeth Bridge Apt. 343\nNortonstad, FM...",uw0eeb,23.0,fulfilled,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,5z1szj2he,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.,br8ba1nu,23,False,False,yahoo,com
4,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,196.89.235.192,"148 Russell Lodge Apt. 445\nPort Jenniferside,...",bn44oh,43.0,fulfilled,"5093 Bryan Forks\nJoshuaton, FM 01565-9801",m52tx8e1s,False,card,Mastercard,Vertex Bancorp,a33145ss,43,True,True,other,com

### 2.3) "Categorización" de la variable 'customerIPAdress'

Observamos que las IP a las que estamos habituados tiene una longitud de 15 caracteres (incluyendo el punto).
```
longitudIP = len(255.255.255.255)
print(longitudIP)
# 15
```

Vamos a separa las IP en dos categorias: de 15 caracteres y mayor a 15:

__**NOTA**__: Decidimos NO CONSERVAR la IP de forma indiviual porque ocasionaría que tengamos tantos valores unicos como cantidad de registros. Esto es un inconveniente debido a que a la hora de hacer AED es mas facil tratar variables que tengan la menor cantidad de datos unicos. 

Si guardamos y contemplamos la IP en su forma original tendremos N valores unicos donde N es la cantidad de registros (debido a que la IP es unica para cada caso).
Mientras que si tenemos dos categorias, posteriormente será mucho mas facil para el modelo procesar la variable.

In [29]:
direccion_IP = []
for direccion in data_copy['customerIPAddress']:

    # A veces lo toma como flotante al address, para evitar problemas, lo convertimos
    aux_address = str(direccion)
    
    if len(aux_address) > 15:
        direccion_IP.append('digits_and_letters')
    else:
        direccion_IP.append('only_letters')

direccion_IP

['only_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'digits_and_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'digits_and_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters',
 'only_letters']

Agregamos la nueva variable al dataframe y eliminamos la columna customerIPAdress

In [30]:
data_copy['customerIPAddressSimplified'] = direccion_IP

data_copy = data_copy.drop(['customerIPAddress'], axis=1)

data_copy.head()

,customerPhone,customerDevice,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailProvider,emailDomain,customerIPAddressSimplified
0,400-108-5415,yyeiaxpltf82440jnb3v,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,yahoo,com,only_letters
1,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,yahoo,com,only_letters
2,024.420.0375,4m7h5ipl1shyavt6vv2r,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,yahoo,com,digits_and_letters
3,670.664.8168x94985,slovx60t0i558may4ks0,"7769 Elizabeth Bridge Apt. 343\nNortonstad, FM...",uw0eeb,23.0,fulfilled,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,5z1szj2he,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.,br8ba1nu,23,False,False,yahoo,com,digits_and_letters
4,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,"148 Russell Lodge Apt. 445\nPort Jenniferside,...",bn44oh,43.0,fulfilled,"5093 Bryan Forks\nJoshuaton, FM 01565-9801",m52tx8e1s,False,card,Mastercard,Vertex Bancorp,a33145ss,43,True,True,other,com,only_letters

## 2.4) Lugar desde donde de la compra VS direccion de envio *(deberian coincidir)*

**Creamos una función que recibe como parametro el nombre de la columna que queremos iterar. Tomamos el mismo criterio que usamos con customerEmail:

In [31]:
def extraer_nombre_ciudad(name_column):
    lista_ciudades = []

    for direccion in data_copy[name_column]: #Iteramos cada elemento de la columna
        try:
            """
            Si address = "5493 Jones Islands\nBrownside, CA 51896"

            aux = "Brownside, CA 51896"
            ciudad_con_CP = "CA 51896"
            ciudad = "CA"
            """
            aux = direccion.split('\n')[1]
            ciudad_con_CP = aux.split(', ')[1]
            ciudad = ciudad_con_CP.split(' ')[0]
            
            lista_ciudades.append(ciudad) #Agregamos solamente el nombre de la ciudad
                
        except:
            # Si no aparece el nombre de la ciudad asignamos: unknown
            lista_ciudades.append("unknown")
    
    return lista_ciudades

Utilizaremos la funcion creada (extraer_nombre_ciudad) para "limpiar" las variables 
**customerBillingAddress** y **orderShippingAddress** y quedarnos solo con las ciudades en cada variable. De esta forma nos será más fácil poder compararlas entre si.

Nota personal: supongo que luego nos quedaremos con la comparacion, agregaremos una columna que diga si origen y destino coinciden y eliminaremos las variables de que contienen las cidudades.

In [32]:
data_copy["customerBillingAddress"] = extraer_nombre_ciudad('customerBillingAddress') #Solo enviamos el nombre de la columna
data_copy["orderShippingAddress"] = extraer_nombre_ciudad('orderShippingAddress')

data_copy.head()

,customerPhone,customerDevice,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailProvider,emailDomain,customerIPAddressSimplified
0,400-108-5415,yyeiaxpltf82440jnb3v,CA,vjbdvd,18.0,pending,CA,wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,yahoo,com,only_letters
1,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,NM,yp6x27,26.0,fulfilled,CA,y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,yahoo,com,only_letters
2,024.420.0375,4m7h5ipl1shyavt6vv2r,PR,nlghpa,45.0,fulfilled,CA,6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,yahoo,com,digits_and_letters
3,670.664.8168x94985,slovx60t0i558may4ks0,FM,uw0eeb,23.0,fulfilled,NM,5z1szj2he,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.,br8ba1nu,23,False,False,yahoo,com,digits_and_letters
4,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,TN,bn44oh,43.0,fulfilled,FM,m52tx8e1s,False,card,Mastercard,Vertex Bancorp,a33145ss,43,True,True,other,com,only_letters

Hacemos la comparacion de las ciudades:
* Si coinciden -> YES
* No coinciden -> NO
* Uno es desconocido -> Unknow

In [33]:
misma_ciudad = []

for indice in range(len(data_copy)): # len(data_copy) nos da la cantidad de registros
    direccion_compra = data_copy['customerBillingAddress'][indice]
    direccion_envio = data_copy['orderShippingAddress'][indice]

    response = "unknown"

    if direccion_compra != "unknown" and direccion_envio != "unknown":
        if direccion_compra == direccion_envio:
            response = "yes"
        else:
            response = "no"
    
    misma_ciudad.append(response)

In [34]:
status(data_copy)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,customerPhone,455,0.730337,0,0.000000,168,object
1,customerDevice,455,0.730337,0,0.000000,168,object
2,customerBillingAddress,0,0.000000,0,0.000000,55,object
3,orderId,145,0.232745,0,0.000000,478,object
4,orderAmount,145,0.232745,0,0.000000,67,float64
5,orderState,145,0.232745,0,0.000000,3,object
6,orderShippingAddress,0,0.000000,0,0.000000,60,object
7,paymentMethodId,281,0.451043,0,0.000000,342,object
8,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
9,paymentMethodType,281,0.451043,0,0.000000,4,object
10,paymentMethodProvider,281,0.451043,0,0.000000,10,object
11,paymentMethodIssuer,281,0.451043,0,0.000000,20,object
12,transactionId,0,0.000000,0,0.000000,623,object
13,transactionAmount,0,0.000000,0,0.000000,67,int64
14,transactionFailed,0,0.000000,455,0.730337,2,bool
15,fraudulent,455,0.730337,107,0.171750,2,object
16,emailProvider,0,0.000000,0,0.000000,5,object
17,emailDomain,0,0.000000,0,0.000000,6,object
18,customerIPAddressSimplified,0,0.000000,0,0.000000,2,object

Creamos una columna/variable nueva para agregar la informacion de las ciudades coincidentes al dataframe. Posteriormente eliminamos las columnas "customerBillingAddress" y "orderShippingAddress". Obtenemos los primeros cinco registros para corroborar los cambios.

In [35]:
# Creamos la columna y la llenamos
data_copy["sameCity"] = misma_ciudad
# Eliminamos las columnas que ya no necesitamos
data_copy = data_copy.drop(["customerBillingAddress", "orderShippingAddress"], axis=1)
# Visualizamos los cambios
data_copy.head()

,customerPhone,customerDevice,orderId,orderAmount,orderState,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,transactionAmount,transactionFailed,fraudulent,emailProvider,emailDomain,customerIPAddressSimplified,sameCity
0,400-108-5415,yyeiaxpltf82440jnb3v,vjbdvd,18.0,pending,wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,18,False,False,yahoo,com,only_letters,yes
1,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,yp6x27,26.0,fulfilled,y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,26,False,True,yahoo,com,only_letters,no
2,024.420.0375,4m7h5ipl1shyavt6vv2r,nlghpa,45.0,fulfilled,6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,45,False,False,yahoo,com,digits_and_letters,no
3,670.664.8168x94985,slovx60t0i558may4ks0,uw0eeb,23.0,fulfilled,5z1szj2he,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.,br8ba1nu,23,False,False,yahoo,com,digits_and_letters,no
4,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,bn44oh,43.0,fulfilled,m52tx8e1s,False,card,Mastercard,Vertex Bancorp,a33145ss,43,True,True,other,com,only_letters,no

## 2.5 2.6) CustomerPhone e identificadores unicos

Entendemos que cada cliente/registro tiene su propio numero de telefono, por lo que tendriamos N valores unicos donde N es la cantida de registros. Sucede lo mismo con las variables "customerDevice", "transactionId", "orderId", "paymentMethodId". Por esta razon los vamos a eliminar.

In [36]:
data_copy = data_copy.drop(["customerPhone",
                            "customerDevice", 
                            "transactionId", 
                            "orderId",
                            "paymentMethodId"],axis=1)

In [37]:
data.head()

,customerEmail,customerPhone,customerDevice,customerIPAddress,customerBillingAddress,orderId,orderAmount,orderState,orderShippingAddress,paymentMethodId,paymentMethodRegistrationFailure,paymentMethodType,paymentMethodProvider,paymentMethodIssuer,transactionId,orderId,paymentMethodId,transactionAmount,transactionFailed,fraudulent
0,josephhoward@yahoo.com,400-108-5415,yyeiaxpltf82440jnb3v,8.129.104.40,"5493 Jones Islands\nBrownside, CA 51896",vjbdvd,18.0,pending,"5493 Jones Islands\nBrownside, CA 51896",wt07xm68b,True,card,JCB 16 digit,Citizens First Banks,a9lcj51r,vjbdvd,wt07xm68b,18,False,False
1,evansjeffery@yahoo.com,1-788-091-7546,r0jpm7xaeqqa3kr6mzum,219.173.211.202,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,yp6x27,26.0,fulfilled,"5493 Jones Islands\nBrownside, CA 51896",y3xp697jx,True,bitcoin,VISA 16 digit,Solace Banks,y4wcv03i,yp6x27,wt07xm68b,26,False,True
2,andersonwilliam@yahoo.com,024.420.0375,4m7h5ipl1shyavt6vv2r,67b7:3db8:67e0:3bea:b9d0:90c1:2b60:b9f0,"8478 Sean Ridges Apt. 441\nDavisberg, PR 72250",nlghpa,45.0,fulfilled,"898 Henry Ports\nNew Keithview, CA 95893-2497",6krszxc05,False,card,VISA 16 digit,Vertex Bancorp,5mi94sfw,nlghpa,41ug157xz,45,False,False
3,rubenjuarez@yahoo.com,670.664.8168x94985,slovx60t0i558may4ks0,95de:8565:5a66:792c:26e0:6cfb:7d87:11af,"7769 Elizabeth Bridge Apt. 343\nNortonstad, FM...",uw0eeb,23.0,fulfilled,356 Elizabeth Inlet Suite 120\nPort Joshuabury...,5z1szj2he,False,card,Diners Club / Carte Blanche,His Majesty Bank Corp.,br8ba1nu,uw0eeb,41ug157xz,23,False,False
4,uchen@malone.com,1-981-877-0870,j0pd24k5h8dl2fqu0cz4,196.89.235.192,"148 Russell Lodge Apt. 445\nPort Jenniferside,...",bn44oh,43.0,fulfilled,"5093 Bryan Forks\nJoshuaton, FM 01565-9801",m52tx8e1s,False,card,Mastercard,Vertex Bancorp,a33145ss,bn44oh,y3xp697jx,43,True,True

In [38]:
status(data_copy)

,variable,q_nan,p_nan,q_zeros,p_zeros,unique,type
0,orderAmount,145,0.232745,0,0.000000,67,float64
1,orderState,145,0.232745,0,0.000000,3,object
2,paymentMethodRegistrationFailure,281,0.451043,302,0.484751,2,object
3,paymentMethodType,281,0.451043,0,0.000000,4,object
4,paymentMethodProvider,281,0.451043,0,0.000000,10,object
5,paymentMethodIssuer,281,0.451043,0,0.000000,20,object
6,transactionAmount,0,0.000000,0,0.000000,67,int64
7,transactionFailed,0,0.000000,455,0.730337,2,bool
8,fraudulent,455,0.730337,107,0.171750,2,object
9,emailProvider,0,0.000000,0,0.000000,5,object
10,emailDomain,0,0.000000,0,0.000000,6,object
11,customerIPAddressSimplified,0,0.000000,0,0.000000,2,object
12,sameCity,0,0.000000,0,0.000000,3,object

# 3) Guardamos dataset como CSV :)

In [41]:
nombre_archivo = "../data/customers_dataset.csv"
data_copy.to_csv(nombre_archivo, index=False)